# Hypothesis Testing Exercise

Sales of products in four different regions is tabulated for males and females. Find if male-female buyer rations are similar across regions.

In [1]:
# importing basic libraries
import pandas as pd
import numpy as np
import scipy.stats as stats

In [2]:
# loading data
df = pd.read_csv(r'BuyerRatio.csv')

In [3]:
df

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [4]:
# Creating Contingency table
data = [[50, 142, 131, 70], [435, 1523, 1356, 750]]

In [5]:
data

[[50, 142, 131, 70], [435, 1523, 1356, 750]]

### Applying Chi-Square on contingency table to convert observed value into expected value

In [6]:
stat, p_value, dof, expected = stats.chi2_contingency(data)

print(stat)
print(p_value)
print(dof)
print(expected)

1.595945538661058
0.6603094907091882
3
[[  42.76531299  146.81287862  131.11756787   72.30424052]
 [ 442.23468701 1518.18712138 1355.88243213  747.69575948]]

In [7]:
stats.chi2_contingency(data)

Chi2ContingencyResult(statistic=1.595945538661058, pvalue=0.6603094907091882, dof=3, expected_freq=array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
       [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]]))

In [8]:
observed = np.array([50, 142, 131, 70, 435, 1523, 1356, 750])
expected = np.array([42.76531299,  146.81287862,  131.11756787, 72.30424052, 442.23468701, 1518.18712138, 1355.88243213, 747.69575948])

In [9]:
print(f"p-value for Chi-Square Test: {p_value}")
print(f"Test Statistics : {stat}")

p-value for Chi-Square Test: 0.6603094907091882
Test Statistics : 1.595945538661058

# Compare P value with Alpha

In [10]:
alpha = 0.05

if p_value < alpha:
    print('We are rejecting Null Hypothesis')
else:
    print('We are accepting Null Hypothesis')

We are accepting Null Hypothesis

In [11]:
# Hence we fail to reject Null Hypothesis